*.DS_Store
*.doc
*.docx
*.pyc
webscraper/webscraper/webscraper/tmp/images/
webscraper/webscraper/webscraper/tmp/vangogh/
webscraper/webscraper/webscraper/tmp/dali/
webscraper/webscraper/webscraper/tmp/klimt/
